<div class="PageContainer">
    <app-page-header [title]="title"></app-page-header>
    <div class="PageContentContainer">
        <div class="Section">
            <h1 class="SectionHeader">Have a question? Get in touch!</h1>
            <div class="SectionContent full">
                Languages: <br>
                <ul>
                    <li>English</li>
                    <li>Swedish</li>
                    <li>German</li>
                    <li>Spanish</li>
                    <li>Portuguese</li>
                    <li>Italian</li>
                    <li>Dutch</li>
                </ul>

                <br>
                <div>
                    <a href="mailto:brockman@kth.se">brockman@kth.se</a> <br> <br>
                    <div>mobile: <br>
                        iMessage and FaceTime <br>
                        +46720090142
                        </div> <br>
                    <div>social: <br>
                        instagram  <br>
                        @viv.brockman
                        </div> <br>
                    <div>Slack Workspace: <br>
                        enviro_viv
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
