<div class="PageContainer">
    <app-page-header [title]="title"></app-page-header>
    <div class="PageContentContainer">
        <div class="Section">
            <h1 class="SectionHeader">Connect with me:</h1>
            <div class="SectionContent full">
                <div>
                    <br>
                    <div><b>email:</b></div>
                    <a href="mailto:brockman@kth.se">brockman@kth.se</a> <br> <br>
                    <div><b>mobile:</b> <br>
                        +46720090142 <br>
                        iMessage and FaceTime 
                        </div> <br>
                    <div><b>social: </b><br>
                        instagram  <br>
                        @viv.brockman
                        </div> <br>
                    <div><b>workspace Slack:</b> <br>
                        enviro_viv
                        </div>
                </div>
                <br>
                <b>languages:</b> <br>
                <!-- <small> -->
                    (in order of fluency)
                <!-- </small> -->
                <ul>
                    <li>English</li>
                    <li>Swedish</li>
                    <li>German</li>
                    <li>Spanish</li>
                    <li>Portuguese</li>
                    <li>Italian</li>
                    <li>Dutch</li>
                </ul>

            </div>
        </div>
    </div>
</div>
