<div class="PageContainer">
    <app-page-header [title]="title"></app-page-header>
    <div class="PageContentContainer">
        <h1 class="SectionHeader">Header1</h1>
        <div class="Section">
            <div class="SectionTitle">Title1</div>
            <div class="SectionContent">
                <div class="SectionLeft">
                    Date
                </div>
                <div class="SectionRight">
                    <div class="position">
                        Position
                    </div>
                    <div>
                        Text1
                    </div>
                    <div>
                        Text2
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
        
        <h1 class="SectionHeader">Education</h1>
        <div class="Section">
            <div class="SectionTitle">University</div>
            <div class="SectionContent">
                <div class="SectionLeft">
                    Dates
                </div>
                <div class="SectionRight">
                    <div class="position">
                        Degree
                    </div>
                    <div>
                        Extras
                        <br>
                        <a href="" target="_blank">link</a>
                    </div>
                </div>
            </div>
        </div>

        <h1 class="SectionHeader">Extracurricular activities</h1>
        <div class="Section">
            <div class="SectionTitle">Title</div>
            <div class="SectionContent">
                <div class="SectionLeft">
                    Dates
                </div>
                <div class="SectionRight">
                    <div class="position">
                        Name of activity
                    </div>
                    <div>
                        Explanation
                    </div>
                </div>
            </div>
            <div class="SectionContent">
                <div class="SectionLeft">
                    Dates
                </div>
                <div class="SectionRight">
                    <div class="position">
                        Name of activity
                    </div>
                    <div>
                        Explanation
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
