<div class="PageContainer">
    <app-page-header [title]="title"></app-page-header>
    <div class="PageContentContainer">
        
        <h1 class="SectionHeader">Education</h1>
        <h2 class="SectionSubHeader">University Affiliations</h2>
        <div class="Section">
            <div class="SectionTitle">KTH, Royal Institute of Technology Stockholm, Sweden</div>
            <div class="SectionContent">
                <div class="SectionLeft">
                    Biotechnology Engineering
                </div>
                <div class="SectionMiddle">
                    <div class="position center">
                        BSc.
                    </div>
                </div>
                
                <div class="SectionRight">
                    <div class="position center">
                        2021
                    </div>
                </div>
                <div class="SectionLeft">
                    Medical Biotechnology
                </div>
                <div class="SectionMiddle">
                    <div class="position center">
                        MSc.
                    </div>
                </div>
                <div class="SectionRight">
                    <div class="position center">
                        2023
                    </div>
                </div>

            </div>
        </div>

        <div class="Section">
            <div class="SectionTitle">SU, Stockholm University, Sweden</div>
            <div class="SectionContent">
                <div class="SectionLeft">
                    International Business Management
                </div>
                <div class="SectionMiddle">
                    <div class="position center">
                        BBA
                    </div>
                </div>
                <div class="SectionRight">
                    <div class="position center">
                        2021
                    </div>
                </div>

                <div class="SectionLeft">
                    Masters of Business Administration (planned)
                </div>
                <div class="SectionMiddle">
                    <div class="position center">
                        MBA
                    </div>
                </div>
                <div class="SectionRight">
                    <div class="position center">
                        2025
                    </div>
                </div>

            </div>
        </div>

        <div class="Section">
            <div class="SectionTitle">KI, Karolinska Institute University Hospital, Sweden  </div>
            <div class="SectionContent">
                <div class="SectionLeft">
                    Olaf Bergmann Lab at Biomedicum Stockholm Group
                </div>
                <div class="SectionMiddle">
                    <div class="position">
                        
                    </div>
                </div>
                <div class="SectionRight">
                    <div class="position center">
                        
                    </div>
                </div>

                <div class="SectionLeft">
                    Bio Informatics & Computational Biology
                </div>
                <div class="SectionMiddle">
                    <div class="position">
                        
                    </div>
                </div>
                <div class="SectionRight">
                    <div class="position center">
                        
                    </div>
                </div>
            </div>
        </div>

        <h2 class="SectionSubHeader">Previous</h2>
        <div class="Section">
            <div class="SectionTitle">Redwood High School - Marin County, Bay Area, SF, California, USA</div>
            <div class="SectionContent">
                <div class="SectionLeft full">
                    <div>
                        Honors in Mathematics, Science, and Languages
                    </div>
                </div>

            </div>
        </div>

        <h1 class="SectionHeader">Projects</h1>
        <br>
        <div class="Section">
            <div class="SectionTitle">THS Student Union Magazine, Osqledaren</div>
            <div class="SectionContent">
                <div class="SectionLeft full">
                    <ul>
                        <li>Chief Text Editor</li>
                        <li>Sustainability Reporter</li>
                        <li>Podcast Host</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="Section">
            <div class="SectionTitle">The KTH Green Week</div>
            <div class="SectionContent">
                <div class="SectionLeft full">
                    <div class="description">KTH edition of EU Green Week, a sustainability oriented businesses relations events connecting companies and students.</div>
                    <ul>
                        <li>Advisor and Co Project Manager 2021</li>
                        <li>Project Manager 2020</li>
                        <li>Communications Manager 2019</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="Section">
            <div class="SectionTitle">KTH Students for Sustainability</div>
            <div class="SectionContent">
                <div class="SectionLeft full">
                    <div class="description">KTH Stockholm's sustainability project forum.</div>
                    <ul>
                        <li>Chief Text Editor</li>
                        <li>Sustainability Coordinator</li>
                        <li>Communications Manager 2019</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="Section">
            <div class="SectionTitle">KTH Plant Based by Default Food Policy Project</div>
            <div class="SectionContent">
                <div class="SectionLeft full">
                    <ul>
                        <li>Text Editor and Content Creator</li>
                        <li>Reporter and PR Media Coordinator</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="Section">
            <div class="SectionTitle">KTH THS Student Union Sustainability Board</div>
            <div class="SectionContent">
                <div class="SectionLeft full">
                    <div class="description">
                        <i>KTH Stockholm's sustainability project forum.</i> <br>
                    </div>
                    <ul>
                        <li>Co Founder of Sustainability Board </li>
                        <li>Head of Communications and Collaboration</li>
                    </ul>
                </div>
            </div>
        </div>

        <h1 class="SectionHeader">Work</h1>
        <br>
        <div class="Section">
            <div class="SectionTitle">KI, Karolinska Institute University Hospital, Stockholm </div>
            <div class="SectionContent">
                <div class="SectionLeft">
                    Olaf Bergmann Lab at Biomedicum Stockholm Group
                </div>
                <div class="SectionMiddle">
                    <div class="position">
                        Jun 2020 
                    </div>
                </div>
                <div class="SectionRight">
                    <div class="position center">
                        - present
                    </div>
                </div>
                
                <div class="SectionLeft">
                    Bio Informatics & Computational Biology
                </div>
                <div class="SectionMiddle">
                    <div class="position">
                    </div>
                </div>
                <div class="SectionRight">
                    <div class="position center">
                    </div>
                </div>
            </div>
        </div>

        <div class="Section">
            <div class="SectionTitle">Personal Study Coach</div>
            <div class="SectionContent">
                
                <div class="SectionLeft">
                    Teaching STEM subjects: Mathematics, English, Science, etc.
                </div>
                <div class="SectionMiddle">
                    <div class="position">
                        Aug 2017
                    </div>
                </div>
                <div class="SectionRight">
                    <div class="position center">
                        - present
                    </div>
                </div>
                <div class="SectionLeft">
                    Lessons held in English, Swedish, German, and Spanish.
                </div>
                <div class="SectionMiddle">
                    <div class="position">
                    </div>
                </div>
                <div class="SectionRight">
                    <div class="position center">
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>
