.PageContentContainer {
    max-width: 700px;
    margin: 0 auto;

    section.wrapper {
        padding: 1em;
        margin-bottom: 2em;
        background-color: #202020;
    }

    section.wrapper:last-child {
        margin-bottom: 0;
    }
    
    .Section {
        margin-bottom: 2em;
    }
    
    .SectionHeader {
        color: #018786;  
        // font-size: 2em;
        padding-top: 1em;
    }

    .SectionContent {
        display: grid;
        grid-template-columns: auto 80px 80px;      
        grid-gap: 1em;
    }

    .SectionTitle {
        // font-size: large;
        // padding: 0 1.5em;
        color: #03DAC6;
        font-weight: 600;
    }

    h2 {
        font-weight: 500;
        margin-bottom: 0.5em;
    }

    .SectionLeft.full {
        grid-column: 1/4;
    }

    .SectionLeft.full > ul {
        padding: 0 calc(1em + 5px);
    }
    
    .position.center {
        text-align: center;
    }

    .description {
        font-style: italic;
        padding: 0 0 0.5em 0!important;
        margin: 0!important;
    }
}

@media (max-width: 768px) {
    .PageContentContainer { 
        padding: 2em 1em;
        
        .SectionContent {
            display: grid;
            grid-template-columns: auto 60px 60px;
        }
        
        .SectionSubHeader {
            padding: 0 1px; 
    
        }
    }
    
}

@media (min-width: 768px) {
    .PageContentContainer { 
        padding: 4em 4em 4em 4em;
        
        .SectionSubHeader {
            padding: 0 2rem;
        }
        
        .Section {
            padding: 0 4rem;
        }
    }

}