<footer>
    <section>
        <article>
            <article>
                <p>
                    EMAIL
                </p>
                <ul>
                    <li><a href="mailto:brockman@kth.se">brockman@kth.se</a></li>
                </ul>
            </article>
            <article>
                <p>
                    SOCIAL
                </p>
                <ul>
                    <li><a href="https://instagram.com/viv.brockman" target="_blank">instagram
                            @viv.brockman</a></li>
                </ul>
            </article>
            <article>
                <p>
                    MOBILE
                </p>
                <ul>
                    <li>(+46)720090142</li>
                </ul>
            </article>

        </article>
        <article class="article-languages">
            <p>
                LANGUAGES <br>
            </p>
            (in order of fluency) <br> <br>
            <ul>
                <li>English</li>
                <li>Swedish</li>
                <li>German</li>
                <li>Spanish</li>
                <li>Portuguese</li>
                <li>Italian</li>
                <li>Dutch</li>
            </ul>
        </article>
    </section>
    <div class="copyright">©2020 Viveka Brockman</div>
</footer>