<div class="navbar">
    <div class="grid">
        <div class="nav-title">Viveka Brockman</div>
        <div class="nav-links">
            <!-- <img src="../../../assets/logo_bw.PNG"/> -->
            <a routerLink="/">About</a>
            <a routerLink="/portfolio">Portfolio</a>
        </div>
        <div class="hamburger-menu">
            <div (click)="toggleOverlay()">
                <div [ngClass]="{'icon active': active}">
                    <div class="hamburger"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-navbar-overlay [active]="active" (activeChange)="active=$event"></app-navbar-overlay>