.navbar {
    display: grid;
    grid-template-columns: 1fr;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #4f5b66;
    box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.1); 
    color: #FFFFFF;
    z-index: 2;
    padding: 0.5em 1em;

    div {
        align-self: center;
        
    }
    
    .nav-title {
        padding-top: 5px;
        font-size: 1.4em;
        padding-left: 3px;
        // word-wrap: ;
    }

    .nav-links {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        justify-self: end;
    }
    
    .nav-links > a {
        justify-self: center;
        padding: 0.5em;
        padding-top: calc(0.5em + 5px);
        text-decoration: none;
        border-bottom: 1px solid transparent;
        color: #fff
    }
    
    .nav-links > a:hover {
        font-weight: 600;
        border-bottom: 1px solid;
    }

    .nav-links > img {
        max-width: 40px;
        padding-top: 0;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 3fr 2fr;
    }
}

.hamburger-menu {
    justify-self: end;
    padding-right: 2em;
}

.hamburger {
    width: 30px;
    height: 3px;
    background: #FFFFFF;
    opacity: 0.8;
    position: absolute;
    transition: 0.5s;
    -webkit-tap-highlight-color:  rgba(0, 0, 0, 0); 
}

.hamburger:before,
.hamburger:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #FFFFFF;
    transition: 0.5s;
}

.hamburger:before {
    top: -8px;
}
.hamburger:after {
    top: 8px;
}

.icon.active .hamburger {
    background: rgba(0,0,0,0);
    transform: rotate(90deg)
}

.icon.active .hamburger:before {
    top: 0;
    transform: rotate(225deg)
}

.icon.active .hamburger:after {
    top: 0;
    transform: rotate(135deg)
}



@media (max-width: 900px) {
    .navbar {
        grid-template-columns: 3fr 1fr;
        
        .nav-links {
            display: none;
        }

        .grid {
            grid-template-columns: 1fr;
        }   
    }
}

@media (min-width: 900px) {
    
    .navbar {
        .grid {
            grid-template-columns: 1fr 1fr 2fr;
        }

    }

    .hamburger-menu {
        display: none;
    }
}

@media (min-width: 1400px) {
    .navbar {
        .grid {
            grid-template-columns: 1fr 3fr 2fr;
        }

    }
    
}


