<div class="PageContainer">
    <app-page-header [title]="title"></app-page-header>
    <div class="PageContentContainer">
        <div class="Section">
            <h1 class="SectionHeader">Have a question? Get in touch!</h1>
            <div class="SectionContent">
                <div>
                    <a href="mailto:">email</a> <br>
                    <a href="" target="_blank">linkedIn</a> <br>
                    <a href="" target="_blank">GitHub</a>
                </div>
            </div>
        </div>
    </div>
</div>
