.PageHeader {
    // max-width: 1000px;
    // margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 700px 1fr;

    h1 {
        color: #c0c5ce;
        opacity: 0.3;
        padding: 0.5em 0;
        font-size: 7em;
    }
}



.container > img {
    max-width: 200px;
    margin: 1em;
    box-sizing: border-box;
    border: 0.5em solid #4f5b66;
}


@media (max-width: 900px) {
    .PageHeader {
        grid-template-columns: 1fr;

        .container {
            justify-self: center;
        }

        h1 {
            font-size: 3em;
            padding: 0 5px 0.5rem 5px;
        }
    }
}

@media (max-width: 1450px) {
    .PageHeader {
        grid-template-columns: 1fr;

        .container {
            justify-self: center;
        }
        
        h1 {
            font-size: 4em;
            max-width: 900px;
            margin: 0 auto;
        }
    }
}